<div class="name">Центральный административный орган</div>
<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Высоцкий.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Владимир Семёнович Высоцкий </div>
                <div class="years">1938 - 1980</div>
            </div>
            <div class="text">Советский поэт, актёр театра и кино, автор-исполнитель песен (бард); автор прозаических
                произведений и сценариев. Лауреат Государственной премии СССР («за создание образа Жеглова
                в телевизионном художественном фильме „Место встречи изменить нельзя“ и авторское исполнение песен»,
                1987, посмертно)
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Лермонтов.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Михаил Юрьевич Лермонтов </div>
                <div class="years">1814 - 1841</div>
            </div>
            <div class="text">Великий русский поэт и прозаик, а также талантливый художник и драматург, произведения которого оказали огромное влияние
на писателей XIX–XX веков. Его творчество известно большим разнообразием тем и мотивов лирики. Поэт внес неоценимый вклад
в формирование реалистического романа XIX века.

            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Сахаров.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Сахаров Андрей Дмитриевич </div>
                <div class="years">1921 - 1989</div>
            </div>
            <div class="text">Советский физик-теоретик, академик АН СССР. Создатель водородной бомбы. Работал над созданием так называемого «ядерного щита».
Активно участвовал в процессах защиты прав человека и выступал
против тоталитарного режима. Подготовил почву для развития области термоядерного синтеза.
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Окуджава.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Окуджава Булат Шалвович </div>
                <div class="years">1924 - 1997</div>
            </div>
            <div class="text">Советский и российский поэт, прозаик, сценарист, бард, композитор. Основатель жанра авторской (бардовской) песни Булат Шалвович Окуджава. Он написал за свою жизнь более 800 стихотворений, 200 из которых родились вместе с музыкой. Лауреат Государственной премии СССР (1991). Член Союза писателей СССР (с 1962 года) и партии КПСС (1956—1990). Участник Великой Отечественной войны.
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Михалков.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Сергей Владимирович Михалков </div>
                <div class="years">1913 - 2009</div>
            </div>
            <div class="text">Российский кинорежиссер, актер, сценарист, продюсер. Народный артист РСФСР. Председатель Союза кинематографистов России. Кавалер орденов «За заслуги перед Отечеством» III степени, Сергия Радонежского I степени, Почетного легиона и др. Лауреат более тридцати премий международных кинофестивалей.
            </div>
        </div>
    </div>
</div>
