<div class="name">Центральный административный орган</div>
<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Высоцкий.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Владимир Семёнович Высоцкий </div>
                <div class="years">1938 - 1980</div>
            </div>
            <div class="text">Советский поэт, актёр театра и кино, автор-исполнитель песен (бард); автор прозаических
                произведений и сценариев. Лауреат Государственной премии СССР («за создание образа Жеглова
                в телевизионном художественном фильме „Место встречи изменить нельзя“ и авторское исполнение песен»,
                1987, посмертно)
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Высоцкий.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Владимир Семёнович Высоцкий </div>
                <div class="years">1938 - 1980</div>
            </div>
            <div class="text">Советский поэт, актёр театра и кино, автор-исполнитель песен (бард); автор прозаических
                произведений и сценариев. Лауреат Государственной премии СССР («за создание образа Жеглова
                в телевизионном художественном фильме „Место встречи изменить нельзя“ и авторское исполнение песен»,
                1987, посмертно)
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Высоцкий.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Владимир Семёнович Высоцкий </div>
                <div class="years">1938 - 1980</div>
            </div>
            <div class="text">Советский поэт, актёр театра и кино, автор-исполнитель песен (бард); автор прозаических
                произведений и сценариев. Лауреат Государственной премии СССР («за создание образа Жеглова
                в телевизионном художественном фильме „Место встречи изменить нельзя“ и авторское исполнение песен»,
                1987, посмертно)
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Высоцкий.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Владимир Семёнович Высоцкий </div>
                <div class="years">1938 - 1980</div>
            </div>
            <div class="text">Советский поэт, актёр театра и кино, автор-исполнитель песен (бард); автор прозаических
                произведений и сценариев. Лауреат Государственной премии СССР («за создание образа Жеглова
                в телевизионном художественном фильме „Место встречи изменить нельзя“ и авторское исполнение песен»,
                1987, посмертно)
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Высоцкий.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Владимир Семёнович Высоцкий </div>
                <div class="years">1938 - 1980</div>
            </div>
            <div class="text">Советский поэт, актёр театра и кино, автор-исполнитель песен (бард); автор прозаических
                произведений и сценариев. Лауреат Государственной премии СССР («за создание образа Жеглова
                в телевизионном художественном фильме „Место встречи изменить нельзя“ и авторское исполнение песен»,
                1987, посмертно)
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Высоцкий.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Владимир Семёнович Высоцкий </div>
                <div class="years">1938 - 1980</div>
            </div>
            <div class="text">Советский поэт, актёр театра и кино, автор-исполнитель песен (бард); автор прозаических
                произведений и сценариев. Лауреат Государственной премии СССР («за создание образа Жеглова
                в телевизионном художественном фильме „Место встречи изменить нельзя“ и авторское исполнение песен»,
                1987, посмертно)
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Высоцкий.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Владимир Семёнович Высоцкий </div>
                <div class="years">1938 - 1980</div>
            </div>
            <div class="text">Советский поэт, актёр театра и кино, автор-исполнитель песен (бард); автор прозаических
                произведений и сценариев. Лауреат Государственной премии СССР («за создание образа Жеглова
                в телевизионном художественном фильме „Место встречи изменить нельзя“ и авторское исполнение песен»,
                1987, посмертно)
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Высоцкий.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Владимир Семёнович Высоцкий </div>
                <div class="years">1938 - 1980</div>
            </div>
            <div class="text">Советский поэт, актёр театра и кино, автор-исполнитель песен (бард); автор прозаических
                произведений и сценариев. Лауреат Государственной премии СССР («за создание образа Жеглова
                в телевизионном художественном фильме „Место встречи изменить нельзя“ и авторское исполнение песен»,
                1987, посмертно)
            </div>
        </div>
    </div>
</div>
