<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Высоцкий_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Владимир Семёнович Высоцкий</div>
            <div class="text">Советский поэт, актёр театра и кино</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Лермонтов_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Михаил Юрьевич Лермонтов</div>
            <div class="text">Писатель поэт</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Сахаров_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Сахаров Андрей Дмитриевич</div>
            <div class="text">Советский физик-теоретик, академик АН СССР</div>
        </div>
    </div>
      <div class="person">
        <img src="{{url_for('static', filename='Окуджава_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Окуджава Булат Шалвович</div>
            <div class="text">Советский и российский поэт, сценарист, композитор</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Михалков_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Сергей Владимирович Михалков</div>
            <div class="text">Российский кинорежиссер, актер, сценарист, продюсер</div>
        </div>
    </div>
</div>