<div class="name">Новомосковский административный округ </div>
<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Видов.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Видов Олег Борисович </div>
                <div class="years">1943 - 2017</div>
            </div>
            <div class="text">Советский и американский киноактёр, кинорежиссёр, сценарист, продюсер, предприниматель; заслуженный артист РСФСР (1974).

            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Ильин.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Ильин Михаил Иванович  </div>
                <div class="years">1928 - 2020</div>
            </div>
            <div class="text">Труженик тыла. В годы войны подростком трудился в родном колхозе, не гнушаясь никакой работы. Взрослые ушли на фронт, защищали родную Москву, а дети заменили их в поле, на ферме. И после войны восстанавливал родное хозяйство, поставляя сельсхозпродукты на столы москвичей.</div>
        </div>
    </div>
</div>
