<div class="name">Северный административный округ</div>
<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Мельников.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Мельников Константин Степанович</div>
                <div class="years">1890 - 1974</div>
            </div>
            <div class="text">Российский архитектор, заслуженный архитектор РСФСР, работал в стиле неоклассицизма, являлся одним из лидеров конструктивизма в архитектуре. Наиболее значимые объекты: павильон «Махорка» на Всероссийской сельскохозяйственной и кустарно-промышленной выставке, саркофаг для мавзолея В. И. Ленина, дом культуры им. И. В. Русакова, Бахметьевский гараж, собственный дом в Кривоарбатском переулке.
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Андриянов.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Сергей Никифорович Андриянов</div>
                <div class="years">1925 - 1980</div>
            </div>
            <div class="text">Советский военнослужащий, подполковник Советской армии, участник Великой Отечественной войны. Полный кавалер ордена Славы. В годы войны — пулемётчик 598-го стрелкового полка 207-й стрелковой дивизии 3-й ударной армии 2-го Прибалтийского фронта.
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Барышников.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Александр Гаврилович Барышников</div>
                <div class="years">1920 - 2008</div>
            </div>
            <div class="text">Командир авиационной эскадрильи Московского транспортного управления гражданской авиации, Герой Социалистического Труда. Удостоен звания «Заслуженный пилот СССР».
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Хромов.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Семён Спиридонович Хромов </div>
                <div class="years">1920 - 2012</div>
            </div>
            <div class="text">Советский и российский историк, педагог, специалист по истории КПСС и советского общества. Доктор исторических наук (1967), профессор, член-корреспондент Международной славянской академии. Автор более 30 книг. Лауреат Государственной премии СССР (1983).
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Юдин.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Константин Константинович Юдин</div>
                <div class="years">1896 - 1957</div>
            </div>
            <div class="text">Советский кинорежиссёр. Заслуженный деятель искусств РСФСР (1954), лауреат Сталинской премии второй степени (1951). Орден «Знак Почёта» (06.03.1950) — за выдающиеся заслуги в развитии советской кинематографии, в связи с 30-летием медали.
            </div>
        </div>
    </div>
</div>
