<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Мельников_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Мельников Константин Степанович </div>
            <div class="text">Российский архитектор</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Андриянов_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Сергей Никифорович Андриянов</div>
            <div class="text">Советский военнослужащий</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Барышников_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Александр Гаврилович Барышников</div>
            <div class="text">Командир авиационной эскадрильи</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Хромов_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Семён Спиридонович Хромов</div>
            <div class="text">Советский и российский историк, педагог</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Юдин_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Константин Константинович Юдин</div>
            <div class="text">Советский кинорежиссёр</div>
        </div>
    </div>
</div>