<div class="name">Северо-восточный административный округ</div>
<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Харламов.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Харламов Валерий Борисович</div>
                <div class="years">1948 - 1981</div>
            </div>
            <div class="text">Советский хоккеист, нападающий команды ЦСКА и сборной СССР, заслуженный мастер спорта СССР. Двукратный олимпийский чемпион (1972, 1976) и восьмикратный чемпион мира. Лучший хоккеист СССР (1972, 1973). Один из ведущих хоккеистов СССР 1970-х годов, получивший признание как в своей стране, так и за её пределами. Член Зала славы ИИХФ (с 1998 года). Член Зала хоккейной славы в Торонто (с 2005 года).
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Качанова.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Качанова Тамара Ивановна</div>
                <div class="years">1918 - н.в.</div>
            </div>
            <div class="text">Училась, затем работала парикмахером. Когда началась война, Военкоматом была направлена на рытье окопов II сооружение противотанковых заграждений для защиты Москвы. После освобождения Москвы, была призвана в ряды Красной Армии. Награждена Орденом Красного Знамени, Орденом Отечественной войны 2 степени, медалями «За оборону Москвы», «За победу над Германией» и другими медалями.

            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Вайнер.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Вайнер Аркадий Александрович</div>
                <div class="years">1931 - 2005</div>
            </div>
            <div class="text">Советский и российский писатель, сценарист и драматург. Брат и соавтор писателя и журналиста Г. А. Вайнера. Орден Почёта (13 января 2001 года) — за плодотворную литературно-просветительскую и общественную деятельность. Орден Дружбы (9 марта 1996 года) — за заслуги перед государством, многолетнюю плодотворную деятельность в области культуры и искусства.
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Вайнер1.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Вайнер Георгий Александрович </div>
                <div class="years">1938 - 2009</div>
            </div>
            <div class="text">Советский писатель в жанре детектива, сценарист, редактор и журналист (до 1990 года в СССР, затем в США). Брат и соавтор писателя и сценариста Аркадия Вайнера. Орден «Знак Почёта» (3 марта 1988 года) — за заслуги в области советской литературы. Лауреат премии Союза писателей СССР и МВД СССР (1976, 1978, 1981). Лауреат премии Союза писателей РСФСР и Уралмашзавода им. Героя Советского Союза Н. Кузнецова (1983).
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Ларионова.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Ларионова Алла Дмитриевна</div>
                <div class="years">1931 - 2000</div>
            </div>
            <div class="text">Актриса, народная артистка РСФСР (1990). С 1953 в Театре-студии киноактера. В кино с 1952. Сыграла главную роль в фильме "Анна на шее" (1954; экранизация рассказа А. П. Чехова). Снималась также в фильмах: "Двенадцатая ночь", "Ко мне, Мух-тар!", "Враг народа Бухарин", "Троцкий", телефильме "Лев Гурыч Синичкин"и др.
            </div>
        </div>
    </div>
</div>
