<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Харламов_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Валерий Харламов Борисович</div>
            <div class="text">Советский хоккеист, заслуженный мастер спорта СССР</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Качанова_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Качанова Тамара Ивановна </div>
            <div class="text">Ветеран ВОВ</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Вайнер_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Вайнер Аркадий Александрович</div>
            <div class="text">Советский и российский писатель, сценарист и драматург</div>
        </div>
    </div>
      <div class="person">
        <img src="{{url_for('static', filename='Вайнер1_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Георгий Александрович Вайнер</div>
            <div class="text">Советский писатель в жанре детектива, сценарист, редактор и журналист</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Ларионова_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Ларионова Алла Дмитриевна</div>
            <div class="text">Актриса, народная артистка РСФСР</div>
        </div>
    </div>
</div>