<div class="name">Северный-западный административный округ</div>
<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Толстая.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Софья Андреевна Толстая</div>
                <div class="years">1844 - 1919</div>
            </div>
            <div class="text">Графиня, супруга, ближайшая помощница и сохранительница наследия Льва Толстого.</div>
        </div>
    </div>
</div>
