<div class="name">Троицкий административный округ</div>
<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Дьячкова.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Дьячкова Мария Александровна </div>
                <div class="years">1982 - н.в.</div>
            </div>
            <div class="text">Российская футболистка, полузащитник. Выступала за сборную России. Чемпионка России. Обладательница Кубка России.
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Куроедов.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Куроедов Алексей Юрьевич </div>
                <div class="years">1974 - н.в.</div>
            </div>
            <div class="text">Старший сержант (по состоянию на осень 1993 года), Герой Российской Федерации (1993). Особо отличился во время событий октября 1993 года в Москве, во время которых он являлся заместителем командира взвода разведывательной роты 1-го гвардейского мотострелкового полка 2-й гвардейской мотострелковой дивизии.
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Шиленков.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Шиленков Николай Николаевич </div>
                <div class="years">1922 - 1983</div>
            </div>
            <div class="text">Сержант Советской Армии, участник Великой Отечественной войны, Герой Советского Союза (1943 год). Наводчик орудия 896-го стрелкового полка, 211-я стрелковая дивизия, 70-я армия, Центральный фронт.
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Мамаев.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Мамаев Павел Константинович </div>
                <div class="years">1988 - н.в.</div>
            </div>
            <div class="text">Российский футболист, полузащитник. Чемпион России, трёхкратный обладатель Кубка России, двукратный обладатель Суперкубка России.
            </div>
        </div>
    </div>
</div>
