<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Дьячкова_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Мария Александровна Дьячкова</div>
            <div class="text">Российская футболистка, полузащитник</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Куроедов_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Алексей Юрьевич Куроедов</div>
            <div class="text">Старший сержант, Герой Российской Федерации</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Кухаренко_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Артем Игоревич Кухаренко</div>
            <div class="text">Программист</div>
        </div>
    </div>
      <div class="person">
        <img src="{{url_for('static', filename='Шиленков_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Николай Николаевич Шиленков</div>
            <div class="text">Герой Советского Союза, Сержант Советской Армии</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Мамаев_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Павел Константинович Мамаев</div>
            <div class="text">Российский футболист, полузащитник</div>
        </div>
    </div>
</div>