<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Кипелов_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Валерий Александрович Кипелов</div>
            <div class="text">Советский и российский рок-музыкант, певец, композитор</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Малышев_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Валерий Александрович Малышев</div>
            <div class="text">Советский и российский театральный и киноактер</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Шкулёв_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Филипп Степанович Шкулёв </div>
            <div class="text">Русский поэт.</div>
        </div>
    </div>
</div>