<div class="name">Юго-восточный административный округ</div>
<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Кипелов.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Валерий Александрович Кипелов </div>
                <div class="years">1958 - н.в.</div>
            </div>
            <div class="text">Советский и российский рок-музыкант, певец, композитор, автор песен; заслуженный артист Российской Федерации (2023). Известен как один из основателей и первый вокалист рок-группы «Ария» с 1985 по 2002 год. С 2002 года возглавляет собственную группу «Кипелов». Лауреат премии «RAMP» 2007 года в номинации «Отцы рока».</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Малышев.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Валерий Александрович Малышев</div>
                <div class="years">1940 - 2006</div>
            </div>
            <div class="text">Советский и российский театральный и киноактер. В 1992 году удостоен звания Заслуженный артист РФ.</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Шкулёв.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Филипп Степанович Шкулёв </div>
                <div class="years">1868 - 1930</div>
            </div>
            <div class="text">Русский поэт. Автор текста песни «Мы кузнецы» (1905).</div>
        </div>
    </div>
</div>
