<div class="name">Восточный административный округ</div>
<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Яшин.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Яшин Лев Иванович </div>
                <div class="years">1929 - 1990</div>
            </div>
            <div class="text">Обладатель «Золотого мяча» лучшего футболиста Европы 1963 года. Лучший вратарь СССР 1960, 1963, 1966 годов.
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Спицын.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Спицын Евгений Юрьевич  </div>
                <div class="years">1966 - н.в.</div>
            </div>
            <div class="text"> Российский историк, педагог, популяризатор науки
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Волосов.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Волосов Валентин Алексеевич  </div>
                <div class="years">1925 - н.в.</div>
            </div>
            <div class="text">5 марта 1943-го был призван в ряды Красной Армии, место призыва - М. обл., г. Перово. Зачислен рядовым в 85-й Московский Гвардейский минометный полк. Участвовал в боях в составе Калининского, Брянского, 1-го и 2-го Белорусских фронтов. В одном из сражений получил контузию. Участвовал в освобождении Варшавы, штурме Берлина.
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Субботин.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Субботин Евгений Никитович </div>
                <div class="years">1947 - н.в.</div>
            </div>
            <div class="text">Депутат совета депутатов муниципального округа Вешняки. Член Политической партии "Коммунистическая партия Российской Федерации". Удостоен звания «Заслуженный машиностроитель Российской Федерации».В 2007 году Патриархом Алексием II награжден медалью Преподобного Сергия Радонежского 1 степени.
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Морозов.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Морозов Савва Тимофеевич</div>
                <div class="years">1862 – 1905</div>
            </div>
            <div class="text">Текстильный фабрикант, мануфактур-советник. Крупный меценат, член дирекции Московского Художественного театра.
            </div>
        </div>
    </div>
</div>
