<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Яшин_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Яшин Лев Иванович </div>
            <div class="text">Советский футболист, вратарь</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Спицын_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Спицын Евгений Юрьевич </div>
            <div class="text">Российский историк, педагог, популяризатор науки</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Волосов_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Волосов Валентин Алексеевич </div>
            <div class="text">Ветеран ВОВ</div>
        </div>
    </div>
      <div class="person">
        <img src="{{url_for('static', filename='Субботин_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Субботин Евгений Никитович </div>
            <div class="text">Депутат</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Морозов_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Морозов Савва Тимофеевич</div>
            <div class="text">Текстильный фабрикант, мануфактур-советник, крупный меценат</div>
        </div>
    </div>
</div>