<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Бобков_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Бобков Олег Николаевич</div>
            <div class="text">Советский футболист и тренер</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Колычёв_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Колычёв Юрий Осипович </div>
            <div class="text">Советский и российский актёр</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Кремнёв_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Кремнёв Валерий Иванович </div>
            <div class="text">Советский и российский режиссёр кино и дубляжа</div>
        </div>
    </div>
      <div class="person">
        <img src="{{url_for('static', filename='Соколов_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Соколов Александр Александрович </div>
            <div class="text">Советский футболист, полузащитник</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Белов_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Белов Владимир Борисович </div>
            <div class="text">Советский гандболист</div>
        </div>
    </div>
</div>