<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Ловчев_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Евгений Серафимович Ловчев</div>
            <div class="text">Советский футбольный полузащитник оборонительного плана</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Косяков_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Денис Геннадьевич Косяков</div>
            <div class="text">Российский актёр театра и кино</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Едаменко_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Владимир Евгеньевич Едаменко</div>
            <div class="text">Российский военный лётчик, майор</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Елисеев_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Матвей Павлович Елисеев</div>
            <div class="text">Российский биатлонист</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Соловьёв_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Роман Александрович Соловьёв</div>
            <div class="text">Российский учёный</div>
        </div>
    </div>
</div>