<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Ловчев_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Ловчев Евгений Серафимович </div>
            <div class="text">Советский футбольный полузащитник оборонительного плана</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Едаменко_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Едаменко Владимир Евгеньевич </div>
            <div class="text">Российский военный лётчик, майор</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Елисеев_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Елисеев Матвей Павлович </div>
            <div class="text">Российский биатлонист</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Соловьёв_tooltip.png')}}" width="60px" height="60px">
        <div class="info">
            <div class="person_name">Соловьёв Роман Александрович </div>
            <div class="text">Российский учёный</div>
        </div>
    </div>
</div>