<div class="name">Зеленоградский Административный Округ</div>
<div class="people">
    <div class="person">
        <img src="{{url_for('static', filename='Ловчев.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Ловчев Евгений Серафимович </div>
                <div class="years">1949 - н.в.</div>
            </div>
            <div class="text">Советский футбольный полузащитник оборонительного плана и тренер, российский функционер, обозреватель, мини-футбольный тренер.
            </div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Едаменко.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Едаменко Владимир Евгеньевич </div>
                <div class="years">1978 - 2008</div>
            </div>
            <div class="text">Российский военный лётчик, майор. Герой Российской Федерации (2008, посмертно, звезда № 918).</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Елисеев.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Елисеев Матвей Павлович </div>
                <div class="years">1993 - н.в.</div>
            </div>
            <div class="text">Российский биатлонист, бронзовый призёр чемпионата мира 2019 года в эстафете, чемпион Европы 2016 года в смешанной эстафете, чемпион Европы 2020 года в спринте. Заслуженный мастер спорта России (2019).</div>
        </div>
    </div>
    <div class="person">
        <img src="{{url_for('static', filename='Соловьёв.png')}}">
        <div class="info">
            <div class="header">
                <div class="person-name">Соловьёв Роман Александрович </div>
                <div class="years">1981 - н.в.</div>
            </div>
            <div class="text">Российский учёный в области автоматизации проектирования интегральных схем, машинного обучения, нейронных сетей, больших данных, модулярной арифметики, теории надежности. Доктор технических наук, главный научный сотрудник Института проблем проектирования в микроэлектронике РАН. Член-корреспондент Российской академии наук (РАН) по Отделению нанотехнологий и информационных технологий РАН (секция информационных технологий и автоматизации).</div>
        </div>
    </div>
</div>
